<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.denglitong.mybatis_plus.quickstart.mapper.UserMapper">

    <select id="listByAge" resultType="com.denglitong.mybatis_plus.quickstart.entity.User"
            parameterType="java.lang.Integer">
        select *
        from user
        where age = #{age}
    </select>

</mapper>
